@import "tailwindcss";

@layer theme {
    body {
        background: url('./assets/carbon_logged.jpg') top center / cover;
    }

    .carbon {
        background-image: url('./assets/top-bg.png');
        background-size: auto 100%;
    }

    .gold {
        background-color: #ffa31c!important;
    }

    .silver {
        background-color: #b0aea1!important;
    }

    .bronze {
        background-color: #928080!important;
    }
}

@layer utilities {
    @keyframes shimmer {
        0% { opacity: 0.5 }
        50% { opacity: 1 }
        100% { opacity: 0.5 }
    }

    .shimmer {
        animation: shimmer 2s ease-in-out infinite
    }
}